.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8338ec;
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 50px;
    
}
.navbar a {
    text-decoration: none;
    color: #fff;
    
}
.paginas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 
.links_Pag {
   
    padding-right: 30px;
   
}
.carrito {
    position: relative;
    margin: 12px;
    background-color: #fb5607;
    color: #2b2d42;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    
}
.cantidad_Prod {
    position: absolute;
    top: -12px;
    right: -11px;
    font-size: 19px;
    background-color:#ff006e;
    color: #fff;
    padding: 0px 4px;
    border-radius: 3px;
    
}


.item {
   
    border: 2px solid #2b2d42;
    border-radius: 4px;
    cursor: pointer;
    
}

.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }

.descripcion-Item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.precio-cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.buttons{
    display: flex;
    gap: 8px;

}
.btn-center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.bi-dash-circle{
    color: red;
    cursor: pointer;
}
.bi-plus-circle{
    color: green;
    cursor: pointer;
}


.flexContent {
    display: flex;
    justify-content:space-evenly;
    background-color: #fff;
}
    

.shop {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
  
}
